@import '_variables';

/* LIB */

@import 'lib/_normalize';
@import 'lib/_bootstrap.min';
@import 'lib/forms';

/* MODULES */

@import 'modules/_spacing';
@import 'modules/_map';
@import 'modules/_ezt';

/* LAYOUTS */

@import 'layouts/_nav';
@import 'layouts/_footer';

/* BASE RULES */

body {
  margin-top: 45px;
  font-family: 'Open Sans', sans-serif;
  @media (min-width: 992px) {
    margin-top: 80px;
  }
}

@media (min-width: 880px) {
  .container {
    width: 880px !important;
  }
}

p {
  margin: 0 0 15px 0;
  font-family: 'Roboto Slab', serif;
  line-height: 2;
}

a:active,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* /BASE RULES */


/* UTILITIES */

.u-divider {
  display: block;
  margin: 35px 0;
  height: 15px;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

.u-heading {
  text-align: center;
  font-size: 1.8em;
  margin: 10px 0 35px 0;
}

@media (max-width: 991px) {
  .u-mobile-hidden {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .u-mobile-text-center {
    text-align: center;
  }
}


/* /UTILITIES */

.l-splash {
  overflow: hidden;
  border-bottom: 2px solid #ccc;
  .container {
    position: relative;
    max-width: 850px;
    padding: 0 !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.5);
  }
  .controls {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px;
    text-align: center;
    display: block;
    width: 100%;
    top: 25%;
    h5 {
      margin: 0;
      font-size: 1em;
      letter-spacing: 0.2em;
      font-weight: 400;
    }
    h1 {
      margin: 0 0 1em 0;
      line-height: 1;
      text-transform: none;
      font-weight: normal;
    }
  }
  .play {
    padding: 0 25px;
    border: 1px solid #fff;
    line-height: 28px;
    border-radius: 18px;
    display: inline-block;
    font-weight: bold;
  }
  video {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  @media (min-width:880px) {
    .controls {
      top: 200px;
      left: 90px;
      text-align: left;
    }
  }
}

.l-offer {
  img {
    width: 100%;
  }
  h5 {
    margin: 0 0 15px 0;
    background-color: #ddd;
    padding: 10px 25px;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: #444;
  }
  .col-sm-6 h5 {
    text-align: left;
  }
  section {
    max-width: 320px;
    margin:0 auto;
    display: block;
  }
  @media (min-width:768px) {
    .row {
      margin-right: 0;
    }
    .col-sm-3 {
      padding: 0 0 0 15px;
    }
    h5 {
      margin-bottom: 0;
    }
  }
}

.l-location-nav {
  margin:10px 0 0 0;
  padding:0;
  li {
    list-style-type: none;
    margin-bottom: 5px;
    a {
      margin-bottom: 30px;
      display: block;
      position: relative;
      &:hover {
        text-decoration: none;
        @media (min-width:992px) {
          &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 4px;
            border-color: transparent transparent transparent #cccccc;
            position: absolute;
            right: -12px;
            top: 3px;
            content: "";
          }
        }
        span {
          color: #333;
          padding-left: 3px;
        }
        span.label {
          color: $blue;
        }
      }
    }
    a.ezt-active {
      span {
        color: #333
      }
      span.label {
        color: $blue;
      }
      @media (min-width:992px) {
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 4px;
          border-color: transparent transparent transparent $blue;
          position: absolute;
          right: -12px;
          top: 3px;
          content: "";
        }
      }
    }
    span {
      color: #777;
      font-size: 18px;
      font-weight:bold;
      border-bottom: 1px solid #eee;
      display: block;
      transition: all 0.2s ease-out;
      padding-bottom: 3px;
      line-height: 1.5;
      &.label {
        font-size: 11px;
        letter-spacing: 0.2em;
        font-weight: bold;
        color: #777;
        border: none;
      }
    }
  }
}

.l-location-content {
  h2 {
    font-size: 1.4em;
    margin:0 0 15px 0;
  }
  h4 {
    margin:10px 0 15px 0;
    font-size: 1em;
    font-weight: normal;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 25px;
    border-top: 2px dashed #ddd;
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      border: none;
    }
  }
  p {
    color: #777;
    font-style: italic;
    cursor: pointer;
    padding: 5px 0;
    margin: 0 0 10px 0;
    &:hover {
      color: $blue;
    }
  }
}

@media (max-width: 767px) {
  #ezt-1.ezt-nav {
    display: none !important;
  }
  #ezt-1 .ezt-content {
    display: block !important;
  }
}

.l-team {
  text-align: center;
  h2 {
    font-size: 2em;
    margin: 25px 0 50px 0;
  }
  img {
    border-radius: 50%;
    border: 2px solid $blue;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 240px;
  }
  h5 {
    font-size: 1.2em;
    margin: 25px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  p {
    font-style: italic;
    margin: 0 0 45px 0;
  }
}

.l-hero {
  text-align: center;
  background-image: url('../images/example-tile.png');
  background-repeat: repeat;
  padding: 45px 0;
  @media (min-width: 768px) {
    padding: 100px 0;
  }
  h2 {
    font-size: 2em;
    margin: 0;
  }
}

.l-about-steps {
  text-align: center;
  @media (min-width:992px) {
    text-align:left;
  }
  img {
    border-radius: 50%;
    border: 2px solid $blue;
  }
  div.image-container {
    position: relative;
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    display: block;
    &:after {
      $badge-size: 42px;
      content: " ";
      color: #fff;
      border-radius: 50%;
      display: block;
      background-color: $grey;
      position: absolute;
      top: 50%;
      margin-top: -($badge-size / 2);
      left: -($badge-size / 2);
      height: $badge-size;
      width: $badge-size;
      line-height: $badge-size;
      text-align: center;
    }
  }
  .col-md-3:nth-of-type(2) div.image-container:after {
    content: "1";
  }
  .col-md-3:nth-of-type(3) div.image-container:after {
    content: "2";
  }
  .col-md-3:nth-of-type(4) div.image-container:after {
    content: "3";
  }
  h2 {
    font-size: 2.2em;
  }
  h5 {
    font-size: 1.2em;
    margin: 25px 0 0 0;
  }
  p {
    margin: 0 0 30px 0;
    line-height: 1.4;
  }
}

.l-about-logos {
  img {
    border-radius: 50%;
    border: 2px solid $blue;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 90px;
  }
  p {
    margin: 10px 0 25px 0;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
  }
}

.l-contact {
  background-color: #F4F4F4;
  text-align: center;
  padding: 15px;
  @media (min-width: 992px) {
    text-align: left;
  }
  img {
    width: 100%;
    max-width: 67px;
    display: block;
    margin: 25px auto 45px auto;
  }
  h5 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.1em;
  }
  p {
    font-style: italic;
  }
}

ul.l-contact-tabs {
  list-style-type:none;
  margin:0;
  padding:0;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  li {
    text-align: center;
    margin-bottom: 5px;
    a {
      display: block;
      padding: 15px 20px;
      font-size: 11px;
      letter-spacing: 0.1em;
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: #eee;
      }
      &.ezt-active {
        background-color: #ccc;
      }
    }
    @media (min-width: 992px) {
      display: inline-block;
      float: left;
      margin-bottom: 15px;
      width: 33%;
      margin-left:0.5%;
      &:first-of-type {
        margin-left:0;
      }
    }
  }
  a {
    color: #333;
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}
