$nav-bg: #F2F3F4;
nav {
	background-color: $nav-bg;
	position: fixed;
	top:5px;
	width:100%;
	height: 50px;
	transition: 0.3s height ease-out;
	z-index: 9999;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	.stripes {
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		& > div {
			display: inline-block;
			width: 25%;
			height: 5px;
			float: left;
			&:nth-of-type(1) {
				background-color: $blue;
			}
			&:nth-of-type(2) {
				background-color: $red;
			}
			&:nth-of-type(3) {
				background-color: $yellow;
			}
			&:nth-of-type(4) {
				background-color: $purple;
			}
		}
	}
	.container {
		position: relative;
	}
	.site-id {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		transition: 0.3s all ease-out;
		img {
			height: 50px;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	#toggle {
		position: absolute;
		top: 8px;
		right: 8px;
		color: $grey;
		background-color:#ccc;
		border-radius: 5px;
		padding: 5px;
		font-size: 24px;
		line-height: 25px;
		width: 45px;
		text-align: center;
		transition: 0.2s background-color ease-out;
		&:active {
			background-color: #fff;
		}
		&.active {
			background-color: $blue;
			color: #fff;
			box-shadow: 0 3px rgba(0,0,0,0.2) inset;
			&:before {
				content:"\f00d";
			}
		}
	}
	ul {
		position: fixed;
		top: 55px;
		display: none;
		right: 0;
		width: 100%;
		background-color: $blue;
		margin: 0;
		padding: 0;
		font-size: 12px;
		li {
			display: block;
			margin:0;
			&:first-of-type a {
				border: none;
			}
			&:last-of-type a {
				border: none;
				background-color: rgba(0,0,0,0.2);
			}
		}
		a {
			color: #fff;
			padding: 15px 15px;
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			border-top:1px dashed rgba(0,0,0,0.15);
			transition: 0.2s background-color ease-out;
			&:active, &:focus {
				color: #fff;
			}
			&:active {
				background-color: rgba(250,250,250,0.3);
			}
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
		&.active {
			display: block;
		}
	}
	@media (min-width:992px) {
		top:10px;
		height: 70px;
		.stripes {
			top:-10px;
			& > div {
				height: 10px;
			}
		}
		.site-id {
			top: 10px;
			left: 10px;
		}
		#toggle {
			display: none;
		}
		ul {
			display: block;
			position: absolute;
			top:17px;
			right: 15px;
			background: none;
			width: auto;
			li {
				display: inline-block;
				&:last-of-type a {
					background-color: #fff;
					color: #222;
					border-radius: 18px;
					padding: 0 25px;
					margin-left: 10px;
				  box-shadow: 0 0 0 2px #ccc inset;
				  &:hover {
				  	color: #fff;
				  	background-color: $blue;
				  	box-shadow: 0 0 0 2px rgba(0,0,0,0.1) inset;
				  }
				  &:active {
				  	background-color: lighten($blue, 5);
				  }
				}
			}
			a {
				padding:0 10px;
				line-height: 36px;
				border: none;
				border-radius: 3px;
				color: #555;
				&:hover {
					color:#222;
				}
				&:focus {
					color: #222;
				}
				&:active {	
					background-color: #fff;
				}
			}
		}
	}
}