---
title: Card City
---

<div class="l-splash">
	<div class="container">
		<div class="controls">
			<h5>at card city</h5>
			<h1>Your cards are your cash</h1>
			<div class="play">Watch the video</div>
		</div>
		<video autoplay loop>
		  <source src="/videos/splash.mp4" type="video/mp4">
			I'm sorry our browser does not support this video format.
		</video>
	</div>
</div>

<div class="padding-md l-offer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag 'http://placehold.it/1000x500' %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<%= image_tag 'http://placehold.it/500x500' %>
			</div>
		</div>
	</div>
</div>